.container{
    padding: 60px 70px;
}
.main{
    display: flex;
}
.card{
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0 0 40px 0;
    background: #fff;
    box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
    transition: all 0.3s ease-in-out;
    text-align: center;
    border: 1px solid #fff;
    margin: 10px;
}
.title{
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    color: #111;
}
.description{
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}
.card:hover{
    border: 1px solid red;
}